extends ../layout

block content
  .page-header
    h3 Add new lesson
  a.btn.btn-primary(href='localhost:8080/admin/lesson-form') Add new lesson
  
block content
  .page-header
    h3 Add new task
  a.btn.btn-primary(href='./task-form') Add new task