extends ../layout

block content
  .page-header
    h3(style={"font-family": "Arial"}) Add new lesson
  a.btn.btn-primary(href='admin/lesson-form' style={"margin-right": "30px"}) Add new lesson
  a.btn.btn-primary(href='admin/task-form') Add new task
  
