extends ../layout

block content
    .page-header
        h3 Lessons
        //- form(method='GET' action='/getLessons')
        //-     each element in item
        //-         li #{element.name}: #{element.description}