extends ../layout

block content
    .page-header
        h3 Lessons
        table 
        each lesson in lessonList
            tr      
                td(style={'border': '1px solid black','padding':'2px', 'float':'left','width':'250px'})
                    a(href=`/lessons/${lesson._id}`) #{lesson.name} <br>
            

