extends ../layout

block content
  .page-header
    h3 Lesson description
    label Lesson ID:
    h4=lesson._id
    label Lesson Name:
    h4=lesson.name
    label Lesson Description:
    h4=lesson.description
  
