extends layout

block content
  h1 UniTeam
  p.lead Learning Web Application.
  hr
  .row
    .col-sm-6
      h2 Admin
      p This field will bring you to a 
      p
        a.btn.btn-default(href='/admin', role='button') View details »
    .col-sm-6
      h2 Lessons
      p We provide you the best lessons 
      p
        a.btn.btn-default(href='/lessons', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Contact
      p We are so glad to work with you and to help you to develop you ideas. Let's get in touch.
      p
        a.btn.btn-default(href='#', role='button') View details »