extends layout

block content
  h1 UniTeam
  p.lead Learning Web Application.
  hr
  .row(style={"background-color": "#ecf8f9"})
    .col-sm-6
      h2(style={"font-family": "Arial"}) Admin
      p This will bring you to a page for adding new tasks.
      p
        a.btn.btn-primary(href='/admin', role='button' style={"margin-top": "18px"}) View details »
    .col-sm-6
      h2 Lessons
      p We provide you the best lessons structured for learning from the basics to advanced skills in JavaScript.
      p
        a.btn.btn-primary(href='/lessons', role='button') View details »
