extends ../layout

block content
  .page-header
    h3 Detail Task

  .form-group
    label(class='col-sm-2 control-label', for='name') Task Title

  .form-group
    label(class='col-sm-2 control-label', for='description') Task description 

form.form-horizontal(method='POST')
  
  .form-group
    label(class='col-sm-2 control-label', for='test') Solution
      textarea.form-control(name='solution', id='solution', rows='10') 
  
  .form-group
    .col-sm-offset-2.col-sm-8
      button.btn.btn-success(type='submit')
        | Check solution